@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans','sans-serif';
}

                                     /*Cabeçalho*/

.nav-list{
    display: flex;
    align-items: center;
    margin-left: 14%;
    font-size: 23px;
}   
.nav-link{
    color: white;

}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
    
}
#pesquisa{
    margin-left: 7%;
}
.login-icon{
    margin-left: 6%;
}

                                        /*Main*/
.faixa-inicial{
    width: 100%;
    background-color:#efeef1;
    display: grid;
    grid-template-columns:repeat(10,1fr);
    grid-template-rows: 50px 150px;
    border: 1px solid;
    border-color: #d3d2d2;
    margin-top: 115px;
    grid-template-areas: 
    "text-1 text-1 text-1 text-1 text-1 text-1 text-2 text-2 text-3 text-3"
    "text-4 text-4 text-adicional text-adicional text-adicional text-adicional text-5 text-5 text-6 text-6 "
    ;
}
.text-1{
    grid-area: text-1;
    font-size: large;
    background-color: #efeef1;
    padding: 20px;
    display: flex;
    justify-content: left;
    margin-left: 80px;
}
.text-2{
    grid-area: text-2;
    font-size: large;
    background-color: #efeef1;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.text-3{
    grid-area: text-3;
    font-size: large;
    background-color: #efeef1;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.text-4{
    grid-area: text-4;
    font-size: large;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-top: 1px solid;
    border-color: #d3d2d2;
}
.text-5{
    grid-area: text-5;
    font-size: large;
    background-color: #ffffff;
    padding: 70px;
    display: flex;
    justify-content: center;
    border-top: 1px solid;
    border-color: #d3d2d2;
}
.text-6{
    grid-area: text-6;
    font-size: large;
    background-color: #ffffff;
    padding: 70px;
    display: flex;
    justify-content: center;
    border-top: 1px solid;
    border-color: #d3d2d2;
}
.text-adicional{
    grid-area: text-adicional;
    font-size: large;
    background-color: #ffffff;
    padding: 70px;
    display: flex;
    justify-content: center;
    border-top: 1px solid;
    border-color: #d3d2d2;
}
#botao-reservar{
    padding: 6px 37px 6px 37px;
    cursor: pointer;
    margin: 40px;
    font-size: 25px;
    color: #f5f5f5;
    background-color:#39ad0b;
    border-radius: 5px;
    border: 1px solid;
}
#botao-voltar{
    padding: 6px 37px 6px 37px;
    cursor: pointer;
    margin: 40px;
    font-size: 25px;
    color: #000000;
    background-color:#b9bdb8;
    border-radius: 5px;
    border: 1px solid;
    border-color: #b9bdb8;
}
.button-alocar-reservar{
    display: inline-block   ;
    float: right ;
    margin-right: 5px;
    margin-bottom: 25px;
}
.button-alocar-voltar{
    display: inline-block;
    float: right;
    margin-right: 25px;
    margin-bottom: 25px;
}
                                    /*Rodapé*/

.rodape{
    background-color: #7426E0; 
    font-size:18px;
    color:#f5f5f5;
    text-align: static;
    padding: 18px 0px 18px 0px;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}   
