@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
body
{
    font-family:"Josefin Sans", sans-serif;

}

.nav-list
{
    display: flex;
    align-items: center;
    margin-left: 14%;
    font-size: 23px;
}   
.nav-link
{
    color: white;

}

.nav-list ul
{
    display: flex;
    justify-content: center;
    list-style: none;
    
}
#pesquisa
{
    margin-left: 7%;

}
.login-icon
{
    margin-left: 6%;

}
#formulario
{
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin-left: 45%;
    margin-top:2%;
    border-radius: 20px;
    border: 1px solid #7426E0;
    font-size: 18px;
    font-family: 'Josefin Sans','sans-serif';
    color: #000000;
    text-align: center;
    line-height: 2;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px 50px;
    align-items: center;
    list-style-type: none;
    text-align: center;
    width: 100%;
    background-color: white;
}

.input
{
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  background-color: white;
  padding: 3px;
  border: 1px solid #EB7D17;
  color: #3E497A;
  border-radius: 10px;
}
.rodape{
    background-image: linear-gradient( to right, #7426E0 , #EB7D17);
    font-family: 'Josefin Sans','sans-serif';
    font-size:18px;
    color:#f5f5f5;
    text-align: static;
    padding: 18px 0px 18px 0px;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}   

