@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
header
{

    font-family:"Josefin Sans", sans-serif;
    margin-bottom: 0.5%;

}
body{
    font-family: "Josefin Sans", sans-serif;
}

.nav-list
{
    display: flex;
    align-items: center;
    margin-left: 14%;
    font-size: 23px;
}   
.nav-link
{
    color: white;

}

.nav-list ul
{
    display: flex;
    justify-content: center;
    list-style: none;
    
}
#pesquisa
{
    margin-left: 7%;

}
.login-icon
{
    margin-left: 6%;

}
#botao
{
    background-image: url('img/pesquisa.png'); 
    background-size: cover; 
    background-position: center;
    width: 20px; 
    height: 25px; 
    border: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255);  
    margin-top: 3.6%;
    margin-right: 3%;
    border: solid black 2px;
    border-left: 0px;
} 
.rodape{
    background-image: linear-gradient( to right, #7426E0 , #EB7D17);
    font-family: 'Josefin Sans','sans-serif';
    font-size:18px;
    color:#f5f5f5;
    text-align: static;
    padding: 18px 0px 18px 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.5%;
}   

.col-md-4
{
background-color: white;
font-size: 16px;
margin-left: -10.4%;
margin-right: 6%;
}
h2{
    background-image:linear-gradient( to right, #7426E0 , #EB7D17);
    color: #ffffff;
    margin-left: -2.5%;
    border: 0.5px solid;
    margin-bottom: 0.1%;
    margin-top: 0.1%;
    border-color:#080808;
}

ul{
    
    border: 1px solid;
    border-color: #7426E0;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    margin-left: -2.5%;
}
