@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

header {
    font-family: "Josefin Sans", sans-serif;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-left: 14%;
    font-size: 23px;
}

.nav-link {
    color: white;

}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;

}

#pesquisa {
    margin-left: 7%;
}

.login-icon {
    margin-left: 3%;
}

body {
    _margin: 3em;
}

#banner-img {
    width: 100%;
}

#card-carousel {
    margin-top: 3.0em;
}

.card-img-top {
    width: 65%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.card {
    padding: 1.5em .5em .5em;
    text-align: center;
    border-radius: 2em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
}

.card-title {
    font-family: josefin sans;
    font-size: 1.5em;
}

h1 {
    background-color: rgb(115, 37, 224);
    color: rgb(255, 255, 255);
    font-family: josefin sans;
}

.container {
    margin-top: 50px;
}

.rodape {
    background-color: #7426E0;
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', sans-serif;
    font-size: 18px;
    color: #f5f5f5;
    text-align: center;
    padding: 18px 0px 18px 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#footer-img {
    width: 5%
}