body
{
    background-color: #f5f5f5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);   
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#7325E0;
}

li
{
    display: inline;
    font-size: x-large;
    float: left;
}
li a
{
    display: block;
    color: #ffffff;   
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}
.logo
{
    font-size:xx-large;
    font-family:sans-serif;
    font-weight:900;
    font-family:cursive;
    height: 100px;
    width: 200px;

}
.mulher_cadeira_rodas
{

    border-radius:30px;
    width: 30%;
    height: 200px;
    background-color:#ffffff;   
}
.corpo
{

    background-color:#ffffff;
}
button
{
    height: 30px;
    width: 10%;
    border-radius: 20px;
    background-color: #ff8c00;
    color: #000000;

}
#botao:hover
{
    background-color: #01f646;
    color:rgb(0, 0, 0);

}